.login {
  .form__title {
    display: none;

    &--login {
      display: block;
    }
  }

  .form__button {
    display: none;
  }

  .form__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    gap: 35px;
  }
}

.form__wrapper--active {
  .form__button {
    display: none;
  }

  .form__list {
    display: flex;
    margin: 0;
    padding: 0;
    list-style-type: none;
    justify-content: center;
    gap: 35px;
  }
}

.form__list {
  display: none;
}

.form__item-title {
  margin: 0;
  color: $color-default-black;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.form__item {
  display: flex;
  flex-direction: column;
  align-items: center;

  svg {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    color: $color-default-black;
    text-align: center;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
}

.form__title {
  margin: 0 0 30px;
  color: $color-default-black;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.6px;
  text-align: center;

  &--login {
    display: none;
  }
}

.form__border {
  min-width: 600px;
  padding: 17px 18px 27px;
  border: 3px solid $color-barley-corn;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.form__description {
  margin: 0 0 20px;
  color: $color-default-black;
  font-family: "Forum", "Arial", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.form__input {
  display: block;
  width: 100%;
  padding: 8px 20px;
  border: none;
  border-radius: 10px;
  color: $color-barley-corn;
  font-family: "Forum", "Arial", cursive;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px;
  letter-spacing: 0.6px;
}

.form__container {
  padding: 20px 20px 25px;
  background-color: $color-barley-corn;
  margin-bottom: 20px;

  label:not(:last-child) {
    display: block;
    margin-bottom: 25px;
  }
}

.form__button {
  display: block;
  margin: 0 auto;
  color: $color-black-russian;
  text-align: center;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1px;
  background-color: transparent;
  cursor: pointer;
  padding: 9px;
  min-width: 242px;
  border-radius: 1px;
  border: 1px solid $color-black-russian;
  transition: background-color 0.7s, border-color 0.7s;

  &:hover {
    background-color: $color-barley-corn;
    border-color: $color-barley-corn;
  }
}
