$color-default-white: #ffffff;
$color-default-black: #000000;
$color-apricot-white: #f5efdb;
$color-black-russian: #0c0c0e;
$color-barley-corn: #bb945f;
$color-suva-grey: #8e8e8e;
$black-to-white: linear-gradient(180deg, #0c0c0e 0%, #0c0c0e 0.01%, rgba(18, 18, 21, 0.1) 300px, transparent 300px);

$vp-768: 768px;
$vp-1440: 1025px;
